<div id="map" style="height: 500px;"></div>
<script>
    const map = L.map("map").setView([-31.2532, 146.9211], 6);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
    }).addTo(map);
</script>
